body {
background-color: lightgoldenrodyellow;
}
h1 {
color: navy;
font-size: 50px;
}
div{
display: flex;
justify-content: center;
padding-bottom: 30px
}
.headshot {
border: solid 2px black;
height: 229px;
width: 169px;

}
.bottom-content {
    display: flex;
    justify-content: space-evenly;
}
.committees {
    border:3px dotted royalblue;
}
.legislation-links {
    border:3px dotted lightpink;
}